# database config
spring:
  datasource:
    url: jdbc:mysql://localhost:3306/helpdesk_db
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format-sql: true
        dialect: org.hibernate.dialect.MySQL8Dialect
  ai:
    openai:
      api-key: ${OPEN_AI_API_KEY}
      chat:
        options:
          model: ${AI_CHAT_MODEL}
          temperature: 0.7
          max-tokens: 1000
    chat:
      memory:
        repository:
          jdbc:
            initialize-schema: always
  config:
    import: file:.env[.properties]
logging:
  level:
    org.springframework.ai.chat.client.advisor: DEBUG	
